


<div class="row">
  <div class="col-sm-6">
    <h1>Rooms</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Add New Room
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Vonage session</th>
            
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <%= content_tag :tr, id: dom_id(room), class: dom_class(room) do %>
          
            <td><%= link_to room.name, room %></td>
          

                      <td><%= room.vonage_session_id %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
